name: n8n
services:
    n8n:
        user: "root"
        volumes:
            - ${HOME}/.n8n/custom-certificate:/opt/custom-certificates
            - ${HOME}/.n8n/data:/home/node/.n8n  # 添加数据持久化
        container_name: n8n
        ports:
            - 5678:5678
        image: docker.n8n.io/n8nio/n8n
        env_file:
            - .env_aliyun
        # environment:
        #     - HTTP_PROXY=${HTTP_PROXY}
        #     - HTTPS_PROXY=${HTTPS_PROXY}
        #     - N8N_HOST=${N8N_HOST}
        #     - N8N_PORT=${N8N_PORT}
        #     - N8N_PROTOCOL=${N8N_PROTOCOL}
        #     - WEBHOOK_URL=${WEBHOOK_URL}
        restart: unless-stopped


        networks:
            - traefik_net
networks:
  traefik_net:
    external: true

